{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}
<div class="row">
    <div class="col-sm-3 col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">Mes amis</div>
                <ul class="list-group">
                    {% for friend in friends %}
                        <li class="list-group-item"><a href="#TODO" title="Voir les détails de {{ friend.user.username }}">{{ friend.user.username }}</a> <a href="{% url 'dashboard:remove' friend_pk=friend.pk %}" title="Supprimer {{ friend.user.username }} de mes amis"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="float: right;"></span></a></li>
                    {% endfor %}
                </ul>

                  <div class="panel-body">
                      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#id_add_friend_modal">Ajouter un ami</button>
                  </div>

        </div>
    </div>

    <div class="col-sm-9 col-md-10">
        <div class="row">
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Nouveau message" data-toggle="modal" data-target="#id_new_message_modal">Nouveau message</button></div>
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Demandes en attente" data-toggle="modal" data-target="#id_waiting_friends_modal">Demandes en attente <span class="badge">{{ friend_requests|length }}</span></button></div>
        </div>

        <div class="row" id="id_messages_list_row">
            <div class="col-sm-12">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Pseudo</th>
                      <th>Date</th>
                      <th>Etat</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="success">
                      <td>LGerb</td>
                      <td>01/01/2015</td>
                      <td>Non lu</td>
                    </tr>
                    <tr class="success">
                      <td>LGerb</td>
                      <td>01/01/2015</td>
                      <td>Non lu</td>
                    </tr>

                    <tr class="success">
                      <td>LGerb</td>
                      <td>01/01/2015</td>
                      <td>Non lu</td>
                    </tr>
                    <tr class="success">
                      <td>LGerb</td>
                      <td>01/01/2015</td>
                      <td>Non lu</td>
                    </tr>
                    <tr class="danger">
                      <td>Maman</td>
                      <td>01/01/2015</td>
                      <td>Lu</td>
                    </tr>

                  </tbody>
              </table>

                <nav class="pull-right">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>

<div class="modal fade" id="id_add_friend_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ajouter un ami</h4>
      </div>
      <form method='POST' action =".">
      {% csrf_token %}
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="2">Pseudo</th>
            </tr>
          </thead>
          {% for friend in add_friend_form.members.field.choices %}
            <tr>
              <td class="success">{{ friend.1 }}</td>
              <td><input type="checkbox" name="{{ add_friend_form.members.html_name }}" id="id_{{ add_friend_form.members.html_name }}_{{ forloop.counter }}" value="{{ friend.0 }}"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" name="add_friend_request">Envoyer une demande d'ajout</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="id_waiting_friends_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Demandes d'ajout en attente</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
                      <thead>
                        <tr>
                          <th colspan="2">Pseudo</th>
                        </tr>
                      </thead>

                      <tbody>

          				{% for friend in accept_friend_form.members.field.choices %}
            			<tr>
              				<td class="success">{{ friend.1 }}</td>
				            <td><input type="checkbox" name="{{ accept_friend_form.members.html_name }}" id="id_{{ accept_friend_form.members.html_name }}_{{ forloop.counter }}" value="{{ friend.0 }}"></td>
				        </tr>
				        {% endfor %}
                      </tbody>
                  </table>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger">Refuser la/les demandes</button>
          <button type="button" class="btn btn-success">Accepter la/les demandes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{%  endblock dashboard_inner %}
